* {
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root{
    --font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}