@import url("./common.css");

:root{
    --main-H: 295;
    --main-S: 36%;
    --main-L: 55%;
    --main-hover-L: 70%;
    --main-active-L: 30%;
    --font-L: 100%;
    --menu-height: 75px;
}

.slideshow-wrapper{
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-areas: 
        "prev . next"
        "prev . next"
        "prev title next";
    width: 100vw;
}

.slideshow-wrapper img{
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
}

.prev, .next{
    background-color: rgba(0,0,0, 0);
    padding: 10px;
    font-size: 56px;
    color: hsl( var(--main-H), var(--main-S), var(--main-hover-L) );
    cursor: pointer;
    transition: .5s ease;
    z-index: 9999;
}

.prev:hover, .next:hover{
    background-color: hsla( var(--main-H), var(--main-S), var(--main-active-L), 50% );
}

.prev{
    grid-area: prev;
}

.next{
    grid-area: next;
}

.fade{
    display: none;
}

.visible{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.caption{
    grid-area: title;
    font-size: 36px;
    z-index: 9999;
    text-align: center;
    padding: 10px;
    color: hsl( var(--main-H), var(--main-S), var(--main-hover-L));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}